@font-face {
  font-family: 'achafontex';
  src: url("./fonts/Achafsex.ttf");
}

@font-face {
  font-family: 'scribouille';
  src: url("./fonts/Scribouille.ttf");
}

* {
  font-size: 100%;
  font-family: achafontex, sans-serif;
}