@import "../css-libraries/bulma/sass/utilities/_all";
@import "../css-libraries/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');


#new, #existent {
  display: none;
}

label[for="new"] {
  float: right;
}

label[for="new"],
label[for="existent"] {
  border-radius: 5px;
  border: solid 1px gray;
  padding: 5px;
  @include mobile {
    font-size: 15px;
  }
}

#existent:checked ~ label[for="existent"],
#new:checked ~ label[for="new"] {
  box-shadow: 0 0 2px 2px #01bdbe;
}

#existent-div, #new-div {
  display: none;
  border-radius: 10px;
}

#existent:checked ~ #existent-div,
#new:checked ~ #new-div {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 30px !important;
  font-weight: bold !important;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 25px !important;
  font-weight: bold !important;
  text-align: right;
}


.drag-area {
  border: 2px dashed #000000;
  height: 350px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}

.drag-area.active {
  border: 2px solid #000000;
}

.drag-area .icon {
  font-size: 100px;
  color: #000000;
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  margin: 10px 0 15px 0;
}

.drag-area button {
  padding: 10px 25px;
  font-size: 20px !important;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  //color: #5256ad!important;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}