@import "../css-libraries/bulma/css/bulma.min.css";
@import "../css-libraries/bulma/sass/utilities/_all";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";


.hidden{
    display: none;
}

.visible{
    display: block;
}

.fixed{
    position: fixed!important;
}



#header-title{
    background-color: #252525;
    text-align: center;
    font-size: 3em;
    font-family: achafontex, sans-serif;
    color: white;
}





.body-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}
.body-text div{
    font-size: 45px;
    font-weight: 600;
}

