@import "../css-libraries/bulma/sass/utilities/_all";


.container {
    //background-color: #f3dfc9;
    border-radius: 20px;
    margin-bottom: 10px!important;
}

.page-container{
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 180px);
}


.filters{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 20%;
    background-color: #252525;
}

#filter-button{
    margin: 20px 20% 30px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
    background-color: white;
    color: #252525;
}

.filter{
    display: block;
    background-color: darkgray;
    color: white;
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
}

.filter i{
    float: right;
    margin: 3px;
}

.filter-panel{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 0 10px 10px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.filter-panel label{
    margin-top: 5px;
}

.container-title {
    padding-left: 10px;
    font-size: 30px;
    //background-color: #fcd3a6;
    border-radius: 20px;
}




