@import "../../css-libraries/bulma/sass/utilities/_all";
.products{
  margin: 90px 2%;
}

.cardsContainer{
  display: grid;
  gap: 30px;
  @include mobile{
    grid-template-columns: auto;
  }
  @include tablet-only{
    grid-template-columns: auto auto;
  }
  @include desktop-only{
    grid-template-columns: auto auto auto;
  }
  @include widescreen-only{
    grid-template-columns: auto auto auto auto;
  }
  @include fullhd{
    grid-template-columns: auto auto auto auto auto;
  }
}
