@import "../../css-libraries/bulma/sass/utilities/_all";
.products{
  padding: 2% 2%;
}

.cardsContainer{
  display: grid;
  gap: 30px;
  @include mobile{
    grid-template-columns: 1fr;
  }
  @include tablet-only{
    grid-template-columns: 1fr 1fr;
  }
  @include desktop-only{
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include widescreen-only{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include fullhd{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
