@import "src/css-libraries/bulma/sass/utilities/_all";

.form {
  @include mobile {
    margin: 40px 10% 80px;
  }
  @include tablet-only {
    margin: 40px 15% 80px;
  }
  @include desktop-only {
    margin: 40px 20% 80px;
  }
  @include widescreen-only {
    margin: 40px 25% 80px;
  }
  @include fullhd {
    margin: 40px 20% 80px;
  }
  @include tablet {
    min-width: 320px;
  }
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 7px 2px black;
  font-family: 'Zilla Slab', serif;

  & .content {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    font-size: 25px;

    & label {
      margin-bottom: 20px;

      & input {
        font-size: 20px;
        margin-left: 20px;
        border-radius: 10px;
        padding: 5px;
      }
    }
  }

  & h1 {
    font-size: 30px !important;
    font-weight: bold !important;
    text-align: center;
    width: 100%;
  }

  & h2 {
    font-size: 25px !important;
    font-weight: bold !important;
    text-align: right;
  }

  & div {
    margin-bottom: 10px;
    min-height: 50px;

    & button {
      font-size: 30px;
      color: #00b89c;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s;
      @include mobile {
        font-size: 15px;
        padding: 5px;
      }
      @include tablet-only {
        font-size: 20px;
        padding: 5px;
      }
      @include desktop {
        padding: 10px;
      }

      & span {
        font-size: 30px;
        color: #00b89c;
        border-radius: 10px;
        @include mobile {
          font-size: 15px;
        }
        @include tablet-only {
          font-size: 20px;
        }
      }
    }

    & .submit {
      & span:after {
        content: '\00bb';
        opacity: 0;
        transition: 0.5s;
      }

      &:hover {
        & span {
          padding: 0 10px;

          &:after {
            opacity: 1;
            right: 0;
          }
        }
      }
    }

    .cancel {
      & span:after {
        content: '\00ab';
        opacity: 0;
        transition: 0.5s;
      }

      &:hover {
        & span {
          padding: 0 10px;

          &:after {
            opacity: 1;
            right: 0;
          }
        }
      }
    }

    & button[type="submit"] {
      float: right;
    }
  }
}